body {
    margin: 0;
    padding: 0;
    background: gray;
    font-family: "Nunito", sans-serif;
}

.navbar {
    height: 120px;
    width: 100%;
    background: #ffd7e1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0px 40px 0px 40px;
    line-height: 100px;
}

.logo {
    width: 300px;
    height: 100%;
    background-image: url("res/logo-pink.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    opacity: 0.5;
}

.main-banner {
    width: 100%;
    height: 600px;
    background: black;
    background-image: url("res/tea-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-section {
    background-image: url("res/backdrop.svg");
    background-position: center;
    background-size: contain;
    padding: 80px;
}

.info-section {
    display: flex;
    margin:auto;
    width: max-content;
}

.info-text {
    width: 600px;
    padding: 40px;
}

.info-image {
    background: black;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bakery-image {
    background-image: url("res/bakery1.png");
}

.tea-image {
    background-image: url("res/tea.png");
}

p {
    color: #fd6aa8;
    font-size: 18px;
}

h2 {
    font-size: 32px;
}

.footer {
    background-color: #fd6aa8;
    color: white;
    padding: 80px;
}

.footer-social {
    margin: auto;
}

.footer a {
    color: white;
}

.footer p {
    color: white;
    font-size: 16px;
    text-align: center;
}

.news-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 60px 0px;
}

input[type="text"] {
    background: rgba(white, 0.5) !important;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 5px 10px 5px 10px;
}

input[type="submit"] {
    border-radius: 0px 10px 10px 0px;
    border: none;
    height: 25px;
    color: white;
    background: #a1d15f;
    margin-left: -4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    filter: brightness(0.5);
}

.logo-footer {
    background-image: url('res/green-boi.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: auto;
}

.footer ul {
    width: max-content;
    margin: auto;
}

.footer-social {
    margin: auto;
    background-image: url("res/social.png");
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bakery-img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin: 60px auto;
}

.bakery-img1 {
    background-image: url('res/bakery1.png');
}

.bakery-img2 {
    background-image: url('res/bakery2.png');
}

.bakery-img3 {
    background-image: url('res/bakery3.png');
}

.bakery-img4 {
    background-image: url('res/bakery4.png');
}

.bakery-img5 {
    background-image: url('res/bakery5.png');
}

.bakery-img6 {
    background-image: url('res/bakery6.png');
}

.bakery-img7 {
    background-image: url('res/tea.png');
}

.main-bakery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: black !important;
    text-align: center;
    font-size: 28px;
}

.main-bakery h3 {
    margin-top: 220px;
}

.bakery-img:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.info-section:hover {
    filter: brightness(0.7);
}

.full {
    height: 100%;
    padding-top: 120px;
}